body{
    background: #FFFFFF;
}
.header-section{
    display: flex;
    /* position: relative; */
    /* top: 0.2vw; */
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
   
    
    /* margin: 0px 20px 0px 20px; */
}
.InputContainer {
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 20vw;
  height: 5vh;
  border: none;
  outline: none;
  caret-color: rgb(0, 187, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 1.4rem;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.icon-section ul{
  font-size: 1.9vw;
  /* letter-spacing: 400vw; */
  display: flex;
  justify-content: space-around;
  gap: 5vw;
  vertical-align: middle;
  /* display: flex; */
  
   
}
.logo-section img{
  height: 6vw;
}